{% extends "base_common.html" %}

{% block body %}

<section class="mt160">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-md-12">
        <h1>About Us</h1>
        <hr>
        <div class="grid">
          <div class="grid-item">
            <img class="img-responsive" src="img/about-us/about1.jpg" alt="">
            <div class="grid-item-hover text-center">
              <h2 class="white text-uppercase">poor uganda</h2>
              <a href="about.html#" class="btn btn-white">See Gallery</a>
            </div>
          </div>
          <div class="grid-item">
            <img class="img-responsive" src="img/about-us/about2.jpg" alt="">
            <div class="grid-item-hover text-center">
              <h2 class="white text-uppercase">poor uganda</h2>
              <a href="about.html#" class="btn btn-white">See Gallery</a>
            </div>
          </div>
          <div class="grid-item grid-item--width2">
            <img class="img-responsive" src="img/about-us/about3.jpg" alt="">
            <div class="grid-item-hover text-center">
              <h2 class="white text-uppercase">poor uganda</h2>
              <a href="about.html#" class="btn btn-white">See Gallery</a>
            </div>
          </div>
          <div class="grid-item">
            <img class="img-responsive" src="img/about-us/about4.jpg" alt="">
            <div class="grid-item-hover text-center">
              <h2 class="white text-uppercase">poor uganda</h2>
              <a href="about.html#" class="btn btn-white">See Gallery</a>
            </div>
          </div>
          <div class="grid-item">
            <img class="img-responsive" src="img/about-us/about5.jpg" alt="">
            <div class="grid-item-hover text-center">
              <h2 class="white text-uppercase">poor uganda</h2>
              <a href="about.html#" class="btn btn-white">See Gallery</a>
            </div>
          </div>
          <div class="grid-item">
            <img class="img-responsive" src="img/about-us/about6.jpg" alt="">
            <div class="grid-item-hover text-center">
              <h2 class="white text-uppercase">poor uganda</h2>
              <a href="about.html#" class="btn btn-white">See Gallery</a>
            </div>
          </div>
          <div class="grid-item grid-item--width2">
            <img class="img-responsive" src="img/about-us/about7.jpg" alt="">
            <div class="grid-item-hover text-center">
              <h2 class="white text-uppercase">poor uganda</h2>
              <a href="about.html#" class="btn btn-white">See Gallery</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      
</section>
<section>
    <div id="projects-help" class=" wow slideInDown">
      <div class="item">
        <div class="row">
          <div class="col-md-7">
            <img class="img-responsive" src="img/project-girl.jpg" alt="">
          </div>
          <div class="col-md-5">
            <div class="project-description">
              <h1>Project 1</h1>
              <hr class="small">

              <h3>Caring For Nigeria.</h3>
              <p>The United Republic of Tanzania is an emerging economy with high potential. But despite impressive growth in its gross domestic product (GDP) over the past decade, it remains one of the world's poorest countries in terms of per capita income.</p>

              <a class="btn btn-orange" href="about.html">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-md-7">
            <img class="img-responsive" src="img/project-girl.jpg" alt="">
          </div>
          <div class="col-md-5">
            <div class="project-description">
              <h1>Project 1</h1>
              <hr class="small">

              <h3>Caring For Nigeria.</h3>
              <p>The United Republic of Tanzania is an emerging economy with high potential. But despite impressive growth in its gross domestic product (GDP) over the past decade, it remains one of the world's poorest countries in terms of per capita income.</p>

              <a class="btn btn-orange" href="about.html">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-md-7">
            <img class="img-responsive" src="img/project-girl.jpg" alt="">
          </div>
          <div class="col-md-5">
            <div class="project-description">
              <h1>Project 1</h1>
              <hr class="small">

              <h3>Caring For Nigeria.</h3>
              <p>The United Republic of Tanzania is an emerging economy with high potential. But despite impressive growth in its gross domestic product (GDP) over the past decade, it remains one of the world's poorest countries in terms of per capita income.</p>

              <a class="btn btn-orange" href="about.html">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section>
  <div class="container wow fadeIn">
    <div class="row">
      
      <div class="col-sm-3 text-center help-ways">
        <img src="img/building.png" alt="">
        <h2>Be An Ambassador</h2>
        <hr>
        <p>Do you want to spearhead initiatives that inspire mass change? </p>
        <a class="btn btn-orange" href="about.html">Apply Now</a>
      </div>
      
      <div class="col-sm-3 text-center help-ways">
        <img src="img/heart.png" alt="">
        <h2>Work With Us</h2>
        <hr>
        <p>Are you a leader who shares our passion for social change? </p>
        <a class="btn btn-orange" href="about.html">Start Today</a>
      </div>

      <div class="col-sm-3 text-center help-ways">
        <img src="img/event.png" alt="">
        <h2>Host An Event</h2>
        <hr>
        <p>Do you want to spearhead initiatives that inspire mass change?  </p>
        <a class="btn btn-orange" href="about.html">Start Now</a>
      </div>

    </div>
  </div>
</section>
<section>
  <div class="numbers-saved wow slideInDown">
    <div class="container">
      <div class="row">
        <div class="col-md-3 numbers text-center">
          <h4><span class="stat-count" data-count="45">45</span>.089</h4>
          <p>People we’ve served</p>
        </div>
        <div class="col-md-3 numbers text-center">
          <h4><span class="stat-count" data-count="145">145</span></h4>
          <p>Countries we’ve worked in</p>
        </div>
        <div class="col-md-3 numbers text-center">
          <h4><span class="stat-count" data-count="100">100</span>%</h4>
          <p>Public donations going towards projects</p>
        </div>
        <div class="col-md-3 numbers text-center">
          <h4><span class="stat-count" data-count="12">12</span>.908</h4>
          <p>Public events maintained</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-md-12 our-work">
        <h1>what we do</h1>
        <hr>
      </div>
    </div>
    <div id="our-work-about" class="row">
      <div class="col-md-4 col-sm-6 our-work-main">
        <div class="our-work-inner">
          <img class="img-responsive" src="img/environment.jpg" alt="">
          <div class="our-work-hover">
            <div class="our-work-hover-text text-uppercase">
              <h4>Environment</h4>
            </div>
          </div>
        </div>
        <div class="our-work-content">
          <p>Fuel-efficient cookstoves & forest conservation, fruit tree planting, etc.</p>
          <span>23 Projects</span><a class="btn btn-orange pull-right" href="about.html">View Projects</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 our-work-main">
        <div class="our-work-inner">
          <img  class="img-responsive" src="img/education1.jpg" alt="">
          <div class="our-work-hover">
            <div class="our-work-hover-text text-uppercase">
              <h4>Education</h4>
            </div>
          </div>
        </div>
        <div class="our-work-content">
          <p>Pre-schools, primary schools, secondary schools and adult literacy.</p>
          <span>18 Projects</span><a class="btn btn-orange pull-right" href="about.html">View Projects</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 our-work-main">
        <div class="our-work-inner">
          <img  class="img-responsive" src="img/healthcare.jpg" alt="">
          <div class="our-work-hover">
            <div class="our-work-hover-text text-uppercase">
              <h4>Healthcare</h4>
            </div>
          </div>
        </div>
        <div class="our-work-content">
          <p>Community dispensary and rural great healthy projects.</p>
          <span>28 Projects</span><a class="btn btn-orange pull-right" href="about.html">View Projects</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div id="find-us" class="wow slideInDown">
    <div class="item">
      <div class="row">
        <div class="col-md-12">
          <div class="find-img">
            <img src="img/find-us.jpg" alt="">
          </div>
          <div class="find-text text-center">
            <div class="spot-heading">
              <h1>Where to find us</h1>
              <h2>Locate Us.</h2>
            </div>
            <div class="find-details">
              <p> Or contact us directly:</p>
              <a class="btn btn-white" href="about.html">Contact Us</a>
            </div>
          </div>
          <div class="find-quote">
            <p>“Loneliness and the feeling of being unwanted is the most terrible poverty.”</p>
            <p class="author">- A. P. J. Abdul Kalam</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-12">
          <div class="find-img">
            <img src="img/find-us.jpg" alt="">
          </div>
          <div class="find-text text-center">
            <div class="spot-heading">
              <h1>Where to find us</h1>
              <h2>Locate Us.</h2>
            </div>
            <div class="find-details">
              <p> Or contact us directly:</p>
              <a class="btn btn-white" href="about.html">Contact Us</a>
            </div>
          </div>
          <div class="find-quote">
            <p>“Loneliness and the feeling of being unwanted is the most terrible poverty.”</p>
            <p class="author">- A. P. J. Abdul Kalam</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-12">
          <div class="find-img">
            <img src="img/find-us.jpg" alt="">
          </div>
          <div class="find-text text-center">
            <div class="spot-heading">
              <h1>Where to find us</h1>
              <h2>Locate Us.</h2>
            </div>
            <div class="find-details">
              <p> Or contact us directly:</p>
              <a class="btn btn-white" href="about.html">Contact Us</a>
            </div>
          </div>
          <div class="find-quote">
            <p>“Loneliness and the feeling of being unwanted is the most terrible poverty.”</p>
            <p class="author">- A. P. J. Abdul Kalam</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="no-padding no-margin">
  <div class="container slideInDown">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img class="img-responsive pull-right" src="img/newsletter-girl.jpg" alt="">
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="newsletter">
          <h1>Join Our Newsletter</h1>
          <hr>
          <p>Africa’s Summer Newsletter 2015 is now ready for you to download and read. It’s got news about our projects in Malawi and a recent visit by two of our wonderful donors.</p>
          <form action="about.html#">
            <input type="text" class="form-control" value="Your Email Address">
            <input class="btn btn-orange" type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="twitter-feeds wow fadeIn">
    <div class="container">
      <div id="twitter-slider">
        <div class="item">
          <div class="row">
            <div class="col-md-11">
              <div class="tweet-time pull-left white">
                <i class="fa fa-twitter"></i><span>2 days ago</span>
              </div>
              <div class="twitter-tweet pull-right white">  
                <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel felis a tellus dignissim laoreet. Mauris dapibus ut elit quis pulvinar. </p>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-11">
              <div class="tweet-time pull-left white">
                <i class="fa fa-twitter"></i><span>2 days ago</span>
              </div>
              <div class="twitter-tweet pull-right white">  
                <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel felis a tellus dignissim laoreet. Mauris dapibus ut elit quis pulvinar. </p>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-11">
              <div class="tweet-time pull-left white">
                <i class="fa fa-twitter"></i><span>2 days ago</span>
              </div>
              <div class="twitter-tweet pull-right white">  
                <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel felis a tellus dignissim laoreet. Mauris dapibus ut elit quis pulvinar. </p>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}