{#1/templates/base.html#}
	
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}BLOOD DONATION{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Core CSS-->
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	
	<link rel="stylesheet" href="/static/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/settings.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" href="/static/css/owl.theme.css">
	<link rel="stylesheet" href="/static/css/featherlight.css">
	<link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="/static/css/animate.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/responsive.css">
  <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.css">

	

</head>
<header>
	<nav id="main-nav" class="navbar navbar-fixed-top affix-top wow slideInDown"> <!-- navbar-fixed-top affix-top wow slideInDown -->
      <div class="container">
        <div class="navbar-header" style="color:red">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('home')}}"><img src="/static/img/logo.png" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          	<ul class="nav navbar-nav">
            <li><a href="{{url_for('home')}}">Homepage</a></li>
            <li><a href="{{url_for('org_sign_up')}}">Oranisation Signup</a></li>
            <li><a href="{{url_for('event_creation')}}">Create Event</a></li>
            <li><a href="{{url_for('search_registered_users')}}">Search User</a></li>
            <li><a href="{{url_for('donors')}}">Our Donors</a></li>
            <!-- <li class="dropdown">
              <a href="index2.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="team.html">Team Page</a></li>
                <li><a href="team-detail.html">Team Details</a></li>
              </ul>
             </li>
            -->
            <li><a href="{{url_for('contact')}}">Contact</a></li>
            {% if session.logged_in %}
            <li><a href="{{url_for('logout')}}">logout</a></li>
            {% endif %}
            <li><a href="{{url_for('home')}}"><i class="fa fa-search fa-lg"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>
<body background="/static/img/over.png">
<div class="border-row" style="width:100%; margin-bottom: 15px;"> </div>
<div class ="container" align="center" style="min-height=100% max-width=80%">

 {% with messages = get_flashed_messages() %}
 	
 	{% if messages %}
 	{% for message in messages %}
 	<div class="alert alert-warning alert-dismissable" role="alert">
 	<button type="button" class="close" data-dismiss="alert" ariel-lable="close">close</button>
 	{{message}}
 	</div>
 	{% endfor %}

 	{% endif %}
 
 {% endwith %}   
 	

{% block body %}{% endblock %}




</div>
<!-- Javascript -->
{% block js %}
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/form.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/jquery.themepunch.revolution.js" type="text/javascript"></script> 
	<script src="/static/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
	<script src="/static/js/owl.carousel.js"></script>
	<script src="/static/js/jquery.mixitup.js"></script>
	<script src="/static/js/featherlight.js"></script>
	<script src="/static/js/isotope.pkgd.min.js"></script>
	<script src="/static/js/bootstrap-select.min.js"></script>
	<script src="/static/js/wow.js"></script>
	<script src="/static/js/custom.js"></script>
  <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <!-- <script src="/static/https://maps.googleapis.com/maps/api/js"></script>
    <script src="/static/js/gmap.js"></script>
 -->
	<script>
		// smooth scrool
      $(function() {
      	"use strict";
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
       }); 
       
            $(function () {
                $('#datetimepicker4').datetimepicker();
            });
             
	</script>
	{% endblock %}
</body>
</html>