{#/templates/base2.html#}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}BLOOD DONATION{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Core CSS-->
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	
	<link rel="stylesheet" href="/static/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/settings.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" href="/static/css/owl.theme.css">
	<link rel="stylesheet" href="/static/css/featherlight.css">
	<link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="/static/css/animate.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/responsive.css">
</head>
<header>
    <nav id="main-nav" class="navbar navbar-fixed-top affix-top wow slideInDown">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('home')}}"><img src="/static/img/logo.png" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          	<ul class="nav navbar-nav">
            <li><a href="{{url_for('home')}}">Homepage</a></li>
            {% if session.logged_in %}
            <li><a href="{{url_for('event_creation')}}">Create Event</a></li>
            <li><a href="{{url_for('search_registered_users')}}">Search Registered User</a></li>
            {% else %}
            <li><a href="{{url_for('orglogin')}}">Orgnisation Login</a></li>
            <li><a href="{{url_for('org_sign_up')}}">Oranisation Signup</a></li>
            {% endif %}
            <li><a href="#start-helping">Our Donors</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#contact">Contact</a></li>
            {% if session.logged_in %}
            <li><a href="{{url_for('logout')}}">logout</a></li>
            {% endif %}
<!--             <li class="dropdown">
              <a href="index2.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="team.html">Team Page</a></li>
                <li><a href="team-detail.html">Team Details</a></li>
              </ul>
             </li>
 -->           
            
            <li><a href="{{url_for('home')}}"><i class="fa fa-search fa-lg"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>

<body>
{% with messages = get_flashed_messages() %}
 	
 	{% if messages %}
 	{% for message in messages %}
 	<div class="alert alert-warning alert-dismissable" role="alert">
 	<button type="button" class="close" data-dismiss="alert" ariel-lable="close">close</button>
 	{{message}}
 	</div>
 	{% endfor %}

 	{% endif %}
 
 {% endwith %}

{% block body %} {% endblock %}

<section id="start-helping">
<div class="container">
    <div class="row wow slideInDown">
      <div class="col-md-12">
        <h1>Donors</h1>
        <hr>
      </div>
    </div>
  </div>
  <div id="donors-list" class="wow slideInDown">
    <div class="row">
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/1.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna</h2>
            <a href="{{url_for('donors')}}" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/2.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="{{url_for('donors')}}" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/3.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="{{url_for('donors')}}" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/4.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="{{url_for('donors')}}" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div  class="clearfix visible-sm-block"></div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/5.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="{{url_for('donors')}}" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div  class="clearfix visible-md-block"></div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/6.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="{{url_for('donors')}}" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/7.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="{{url_for('donors')}}" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/8.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="{{url_for('donors')}}" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div  class="clearfix visible-sm-block"></div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/9.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="{{url_for('donors')}}" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/10.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="{{url_for('donors')}}" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
    </div>
  </div>	
</section>
<section>
	<div class="numbers-saved wow slideInDown">
		<div class="container">
			<div class="row">
				<div class="col-md-3 numbers text-center">
					<h4><span class="stat-count" data-count="45">45</span>.089</h4>
					<p>People we’ve served</p>
				</div>
				<div class="col-md-3 numbers text-center">
					<h4><span class="stat-count" data-count="145">145</span></h4>
					<p>Countries we’ve worked in</p>
				</div>
				<div class="col-md-3 numbers text-center">
					<h4><span class="stat-count" data-count="100">100</span>%</h4>
					<p>Public donations going towards projects</p>
				</div>
				<div class="col-md-3 numbers text-center">
					<h4><span class="stat-count" data-count="12">12</span>.908</h4>
					<p>Public events maintained</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="gallery" class="mt160">
  <div class="container wow slideInDown">
    <div class="row">
      <div class="col-md-12">
        <h1>Gallery</h1>
        <hr>
            <div class="galley-nav mt50">
              <a href="javascript:" class="btn btn-orange filter" data-filter="all">Reset</a>
              <a href="javascript:" class="btn btn-orange filter" data-filter=".bu">Pic1</a>
              <a href="javascript:" class="btn btn-orange filter" data-filter=".mala">Pic2</a>
              <a href="javascript:" class="btn btn-orange filter" data-filter=".ni">Pic3</a>
          </div>
      
    
    <div id="g3c" class="gallery-area">
      <div id="Container">
        <!-- <div class="row">
          <div class="col-md-6"> -->
            <div class="mix bu">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-1.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">Educational toys</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="/static/img/gallery/g3c-1.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Help pre-school children to learn how to study through play.</p>
                </div>
              </div>
            </div>
            <div class="mix mala">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-2.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">fuel-efficient cookstove</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="/static/img/gallery/g3c-2.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Help a family cook safely and efficiently using technology nowadays.</p>
                </div>
              </div>
            </div>
            <div class="mix ni">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-3.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">adult literacy classes</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="/static/img/gallery/g3c-3.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Help 30 adult students learn to read and write in two languages.</p>
                </div>
              </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
    <!-- <div class="row">
      <div class="col-md-12 text-center mt30 wow slideInDown">
        <a href="{{url_for('gallery')}}" class="btn-orange-ol">Load More</a>
      </div>
    </div> -->
  </div>
</section>
<section>
	<div class="container wow slideInDown">
		<div class="row">
			<div class="col-md-12">
				<h1>Latest News</h1>
				<hr>
			</div>
		</div>
		<div class="blog-area">
			<div class="row">
				<div class="col-md-4 col-sm-6 blog-post">
					<h4 class="orange">Africa  /  Kids  /  Water</h4>
					<h2>Getting Ready For Getting Some Warm & Nice Water</h2>
					<div class="blog-img">
						<img class="img-responsive" src="/static/img/blog/blog1.jpg" alt="">
						<div class="blog-img-hover text-center">
							<a class="btn btn-orange" href="index2.html">Read Article</a>
						</div>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare tempor iaculis [...]</p>
					<div class="post-footer">
						<div class="post-author pull-left">
							<img src="/static/img/blog/kate.jpg" alt="">
							<span>Kate Dawson</span>
						</div>
						<div class="post-time pull-right orange">
							<i class="fa fa-clock-o"></i> <span> August 12, 2015</span>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				
				<div class="col-md-4 col-sm-6 blog-post">
					<h4 class="orange">Seeds  /  Food</h4>
					<h2>Ylang-ylang Harvest For 25 People & Their Families</h2>
					<div class="blog-img">
						<img class="img-responsive" src="/static/img/blog/blog2.jpg" alt="">
						<div class="blog-img-hover text-center">
							<a class="btn btn-orange" href="index2.html">Read Article</a>
						</div>
					</div>
					<p>Vestibulum faucibus tempor leo id viverra. Praesent cre vulputate, urna in malesuada egesta [...]</p>
					<div class="post-footer">
						<div class="post-author pull-left">
							<img src="/static/img/blog/jessica.jpg" alt="">
							<span>Jessica Moe</span>
						</div>
						<div class="post-time pull-right orange">
							<i class="fa fa-clock-o"></i> <span> August 11, 2015</span>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				
				<div class="col-md-4 col-sm-6 blog-post">
					<h4 class="orange">Women  /  Poverty</h4>
					<h2>African Women Are Also Very Kind & Beautiful</h2>
					<div class="blog-img">
						<img class="img-responsive" src="/static/img/blog/blog3.jpg" alt="">
						<div class="blog-img-hover text-center">
							<a class="btn btn-orange" href="index2.html">Read Article</a>
						</div>
					</div>
					<p>Ut dapibus imperdiet eros at molestie. Integer congue eget massa sed eleifend. Nullam semper [...]</p>
					<div class="post-footer">
						<div class="post-author pull-left">
							<img src="/static/img/blog/dana.jpg" alt="">
							<span>Dana Brown</span>
						</div>
						<div class="post-time pull-right orange">
							<i class="fa fa-clock-o"></i> <span> August 12, 2015</span>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
					
			</div>
		</div>
	</div>
</section>
<section id="contact" class="mt160">
  <div class="container">
    <div class="row wow slideInDown">
      <div class="col-md-12">
        <h1>Contact Us</h1>
        <hr>
      </div>
    </div>
    <div class="row mt30">
      <div class="col-md-9 wow fadeIn">
        <div id="map"></div>  
      </div>
      <div class="col-md-3 wow slideInDown">
        <div class="take-action no-margin">
          <h6 class="text-uppercase orange no-mt">Send a Message</h6>
          <form action="contact-us.html#">
                <div class="fl-name row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" value="First Name">
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" value="Last Name">
                  </div>
                </div>
              <input type="text" class="form-control" value="Subject">
              <textarea name="your-message" id="message" rows="10" class="form-control">Message</textarea>
              <div class="mt30">
                <a href="contact-us.html#" class="btn-orange">Submit</a>
              </div>
          </form>
        </div>
      </div>
    
  </div>
</section>


<section>
	<div class="twitter-feeds wow slideInDown">
		<div class="container">
			<div id="twitter-slider">
				
			</div>
		</div>
	</div>
</section>

<footer class="wow fadeIn">
	<div class="container ">
		<div class="row">
			<!-- <div class="col-md-3 col-sm-6 charity">
				<h2>About Charity</h2>
				<p>Nam facilisis mauris ut eros feugiat, quis mollis risus eleifend. Nunc finibus nibh accumsan, fringilla purus non, consequa lorem. Sed ullamcorper aliquam.</p>
			</div>
			 --><!-- <div class="col-md-3 col-sm-6 about-us">
				<h2>About Us</h2>
				<ul class="list-unstyled">
					<li><a href="index2.html">Our History</a></li>
					<li><a href="index2.html">Our Team</a></li>
					<li><a href="index2.html">Become a Volunteer</a></li>
					<li><a href="index2.html">Our Services</a></li>
				</ul>
			</div>
			 --><div class="col-md-3 col-sm-6 useful-links">
				<h2>Useful Links</h2>
				<ul class="list-unstyled">
					<li><a href="index2.html">Sponsor a Child</a></li>
					<li><a href="index2.html">Event Calander</a></li>
					<li><a href="#start-helping">Our Donors</a></li>
					<li><a href="index2.html">Our Shop</a></li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6 contact">
				<h2>Contact Us</h2>
				<div class="contact-details">
					<span><i class="fa fa-map-marker white"></i></span>
					<p>LEVEL 2, Phase 6, Sector 56, SAS Nagar, Mohali, Punjab 160055</p>
					<span><i class="fa fa-phone white"></i></span>
					<p>092162 17231</p>
					<span><small><i class="fa fa-envelope white"></i></small></span>
					<p>contact@charityattyia.com</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>With <i class="fa fa-heart orange"></i>        by Team-1 © 2016. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</div>
{% block js %}
<!-- Javascript -->
	<script src="/static/js/jquery.js"></script>
	
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/jquery.themepunch.revolution.js" type="text/javascript"></script> 
	<script src="/static/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
	<script src="/static/js/owl.carousel.js"></script>
	<script src="/static/js/jquery.mixitup.js"></script>
	<script src="/static/js/featherlight.js"></script>
	<script src="/static/js/isotope.pkgd.min.js"></script>
	<script src="/static/js/bootstrap-select.min.js"></script>
	<script src="/static/js/wow.js"></script>
	<script src="/static/js/custom.js"></script>
    <script src="/static/https://maps.googleapis.com/maps/api/js"></script>
    <script src="/static/js/gmap.js"></script>

	<script>
		// smooth scrool
      $(function() {
      	"use strict";
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
       });      
	</script>
{% endblock %}
</body>
</html>