{% extends "base_common.html" %}

{% block body %}

<section id="contact" class="mt160">
  <div class="container">
    <div class="row wow slideInDown">
      <div class="col-md-12">
        <h1>Contact Us</h1>
        
      </div>
    </div>
    <div class="row mt30">
      <div class="col-md-9 wow fadeIn">
        <div id="map"></div>  
      </div>
      <div class="col-md-3 wow slideInDown">
        <div class="take-action no-margin">
          <h6 class="text-uppercase orange no-mt">Send a Message</h6>
          <form action="contact-us.html#">
                <div class="fl-name row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" value="First Name">
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" value="Last Name">
                  </div>
                </div>
              <input type="text" class="form-control" value="Subject">
              <textarea name="your-message" id="message" rows="10" class="form-control">Message</textarea>
              <div class="mt30">
                <a href="contact-us.html#" class="btn-orange">Submit</a>
              </div>
          </form>
        </div>
      </div>
    
  </div>
</section>

{% endblock %}