{% extends "base_common.html" %}

{% block body %}

<section id="start-helping">
<div class="container">
    <div class="row wow slideInDown">
      <div class="col-md-12">
        <h1>Donors</h1>
        
      </div>
    </div>
  </div>
  <div id="donors-list" class="wow slideInDown">
    <div class="row">
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img1">
          <img src="/static/img/donors/1.jpg" alt="">
          <div class="donor-hover1 text-center">
            <h2 class="white text-center text-uppercase mb20">Name : jenna</h2>
            <h2 class="white text-center mb20">Age : 25</h2>
            

            
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img1">
          <img src="/static/img/donors/2.jpg" alt="">
          <div class="donor-hover1 text-center">
            <h2 class="white text-center text-uppercase mb20">Name : jenna</h2>
            <h2 class="white text-center mb20">Age : 25</h2>
            
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img1">
          <img src="/static/img/donors/3.jpg" alt="">
          <div class="donor-hover1 text-center">
            <h2 class="white text-center text-uppercase mb20">Name : jenna</h2>
            <h2 class="white text-center mb20">Age : 25</h2>
            
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img1">
          <img src="/static/img/donors/4.jpg" alt="">
          <div class="donor-hover1 text-center">
            <h2 class="white text-center text-uppercase mb20">Name : jenna</h2>
            <h2 class="white text-center mb20">Age : 25</h2>
            
          </div>
        </div>
      </div>
      <div  class="clearfix visible-sm-block"></div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img1">
          <img src="/static/img/donors/5.jpg" alt="">
          <div class="donor-hover1 text-center">
            <h2 class="white text-center text-uppercase mb20">Name : jenna</h2>
            <h2 class="white text-center mb20">Age : 25</h2>
            
          </div>
        </div>
      </div>
      <div  class="clearfix visible-md-block"></div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img1">
          <img src="/static/img/donors/6.jpg" alt="">
          <div class="donor-hover1 text-center">
            <h2 class="white text-center text-uppercase mb20">Name : jenna</h2>
            <h2 class="white text-center mb20">Age : 25</h2>
            
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img1">
          <img src="/static/img/donors/7.jpg" alt="">
          <div class="donor-hover1 text-center">
            <h2 class="white text-center text-uppercase mb20">Name : jenna</h2>
            <h2 class="white text-center mb20">Age : 25</h2>
            
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img1">
          <img src="/static/img/donors/8.jpg" alt="">
          <div class="donor-hover1 text-center">
            <h2 class="white text-center text-uppercase mb20">Name : jenna</h2>
            <h2 class="white text-center mb20">Age : 25</h2>
            
          </div>
        </div>
      </div>
      <div  class="clearfix visible-sm-block"></div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img1">
          <img src="/static/img/donors/9.jpg" alt="">
          <div class="donor-hover1 text-center">
            <h2 class="white text-center text-uppercase mb20">Name : jenna</h2>
            <h2 class="white text-center mb20">Age : 25</h2>
            
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img1">
          <img src="/static/img/donors/10.jpg" alt="">
          <div class="donor-hover1 text-center">
            <h2 class="white text-center text-uppercase mb20">Name : jenna</h2>
            <h2 class="white text-center mb20">Age : 25</h2>
            
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>


{% endblock %}