{#/templates/register.html#}

{% extends "base.html" %}

{% block body %}


<body>
{% from "_formhelpers.html" import render_field %}

<form method=post action='/event_creation/'>
	<div class="fill-info cont">

<div class="container">
    
</div>
		<dl>
		{{render_field(form.title)}}
		{{render_field(form.venue)}}
		{{render_field(form.event_desc)}}
		{{render_field(form.blood_bank)}}
		{{render_field(form.event_time)}}
		
		
		</dl>
		<!-- <p><input type=submit value=Register></p> -->
<div class="mt20 text-center"><button type="submit" class="btn-orange">Create</button></div>
	</div>
</form>
{% if error %}
<p class="error">Error:{{ error }}</p>

{% endif %}
</div>
</body>
{% endblock %}