########## signup form ####################
<form method="post" action='/sign_up'>
<div class="fill-info">
<input name="name" type="text" class="form-control" placeholder="Name">
<input name="ph_no" type="text" class="form-control" placeholder="Phone Number">
<input name="address" type="text" class="form-control" placeholder="Address" >
<div class="choose-option">
<select name="city" class="selectpicker form-control">
<option>Chandigarh</option>
<option>Jalandhar</option>
<option>Hoshiarpur</option>
<option>Phagwara</option>
<option>Ludhiana</option>
</select>
</div>
<input name="dob" type="text" class="form-control" placeholder="Date of Birth">
<div class="choose-option">
<select name="bg" class="selectpicker form-control">
<option>A+</option>
<option>A-</option>
<option>B+</option>
<option>B-</option>
<option>AB+</option>
<option>AB-</option>
<option>O+</option>
<option>O-</option>
</select>
</div>
<input name="password" type="password" class="form-control" placeholder="Password">
<div class="mt20 text-center"><button type="submit" class="btn-orange">Sign Up</button></div>

</div>
</form>
################################# login form ##################################

<div class="slider-center">
<div class="spon-child text-center">
<h2>Login</h2>
<span class="droid">
<b><font color="#FF0000">Blood is meant to Circulate. Pass it Around...!</font></b>
</span>
</div>
<div class="child-info">
<div class="child-fill-info">
<input type="text" class="form-control" value="" placeholder="Phone Number">
<input type="password" class="form-control" value="" placeholder="Password">

<div class="mt30 text-center"><a href="index2.html#" class="btn-orange-ol">Login</a></div>
</div>
<div class="child-spon-details text-center">
<h1>Blood Donation</h1>
<p>An Ounce of Blood is worth more than a pound of Friendship.</p>
</div>	
</div>
</div>
</div>

######################################## event creation #############################

{#/templates/index2.html#}

{% extends "base.html" %}

{% block body %}

<div class="cont">
<form method="post" action='/event_creation'>
	<div class="fill-info">
		<input name="date_of_event" type="text" class="form-control" placeholder="Date of Event">
		<input name="venue_of_event" type="text" class="form-control" placeholder="Venue of Event">
		<input name="event_description" type="text" class="form-control" placeholder="Event Description">
		<div class="choose-option">
            <select name="blood_bank_name" class="selectpicker form-control">
              <option>Blood Bank 1</option>
              <option>Blood Bank 2</option>
              <option>Blood Bank 3</option>
              <option>Blood Bank 4</option>
              <option>Blood Bank 5</option>
           	</select>
        </div>
        <input name="event_timing" type="text" class="form-control" placeholder="Event Timing">
       
		<div class="mt20 text-center"><button type="submit" class="btn-orange">Create Event</button></div>
		
	</div>
	</form>
	</div>
{% endblock %}

####################################33 search user ###############################3

<form method="post" action='/search_registered_users/'>
	<div class="fill-info">
		<input name="ph_no" type="text" class="form-control" placeholder="Phone Number">
		
       
		<div class="mt20 text-center"><button type="submit" class="btn-orange">search</button></div>
		
	</div>
	</form>