{% extends "base_common.html" %}

{% block body %}
<section class="mt160">
  <div class="container wow slideInDown">
    <div class="row">
      <div class="col-md-12">
        <h1>Gallery</h1>
        <hr>
            <div class="galley-nav mt50">
              <a href="javascript:" class="btn btn-orange filter" data-filter="all">Nauru</a>
              <a href="javascript:" class="btn btn-orange filter" data-filter=".mala">Malawi</a>
              <a href="javascript:" class="btn btn-orange filter" data-filter=".ni">Niger</a>
              <a href="javascript:" class="btn btn-orange filter" data-filter=".bu">Burundi</a>
          </div>
      
    
    <div id="g3c" class="gallery-area">
      <div id="Container">
        <!-- <div class="row">
          <div class="col-md-6"> -->
            <div class="mix bu">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-1.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">Educational toys</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="/static/img/gallery/g3c-1.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Help pre-school children to learn how to study through play.</p>
                </div>
              </div>
            </div>
            <div class="mix mala ni bu">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-2.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">fuel-efficient cookstove</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="/static/img/gallery/g3c-2.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Help a family cook safely and efficiently using technology nowadays.</p>
                </div>
              </div>
            </div>
            <div class="mix ni">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-3.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">adult literacy classes</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="/static/img/gallery/g3c-3.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Help 30 adult students learn to read and write in two languages.</p>
                </div>
              </div>
            </div>
            <div class="mix mala bu">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-4.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">school desks</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="/static/img/gallery/g3c-4.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Help children learn in a better & healthier  environment in schools. </p>
                </div>
              </div>
            </div>
            <div class="mix mala bu">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-5.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">25 fruit trees</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="/static/img/gallery/g3c-5.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Help multiple families to improve their diet & health. </p>
                </div>
              </div>
            </div>
            <div class="mix mala bu">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-6.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">better quality houses</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="/static/img/gallery/g3c-6.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Help dozens of families to have a better living inside their houses. </p>
                </div>
              </div>
            </div>
            <div class="mix mala bu">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                <img src="/static/img/gallery/g3c-7.jpg" alt="" class="img-responsive">
                <div class="img-tagline no-margin text-center">
                  <h4 class="text-uppercase white">better clothing for kids</h4>
                </div>
                <div class="g3c-img-hover text-center">
                  <a href="gallery-3columns.html#" data-featherlight="/static/img/gallery/g3c-7.jpg" class="btn-white">View Image</a>
                </div>
              </div>
              <div class="img-description no-margin">
                <p>Help children by contribution on clothing & apparel for kids. </p>
              </div>
              </div>
            </div>
            <div class="mix mala bu">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-8.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">35 cows for milk & cheese</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="/static/img/gallery/g3c-8.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Provide funds for buying 35 cows for milk & cheese. </p>
                </div>
              </div>
            </div>
            <div class="mix mala bu">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-9.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">no agriculture for kids</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="/static/img/gallery/g3c-9.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Sustain our petition for avoiding kids to work at young age instead of studying.</p>
                </div>
              </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
    <div class="row">
      <div class="col-md-12 text-center mt30 wow slideInDown">
        <a href="gallery-3columns.html#" class="btn-orange-ol">Load More</a>
      </div>
    </div>
    
  </div>
</section>
<section>
  <div id="find-us" class="wow slideInDown">
    <div class="item">
      <div class="row">
        <div class="col-md-12">
          <div class="find-img">
            <img src="img/find-us.jpg" alt="">
          </div>
          <div class="find-text text-center">
            <div class="spot-heading">
              <h1>Where to find us</h1>
              <h2>Locate Us.</h2>
            </div>
            <div class="find-details">
              <p> Or contact us directly:</p>
              <a class="btn btn-white" href="{{url_for('gallery')}}">Contact Us</a>
            </div>
          </div>
          <div class="find-quote">
            <p>“Loneliness and the feeling of being unwanted is the most terrible poverty.”</p>
            <p class="author">- A. P. J. Abdul Kalam</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-12">
          <div class="find-img">
            <img src="img/find-us.jpg" alt="">
          </div>
          <div class="find-text text-center">
            <div class="spot-heading">
              <h1>Where to find us</h1>
              <h2>Locate Us.</h2>
            </div>
            <div class="find-details">
              <p> Or contact us directly:</p>
              <a class="btn btn-white" href="gallery-3columns.html">Contact Us</a>
            </div>
          </div>
          <div class="find-quote">
            <p>“Loneliness and the feeling of being unwanted is the most terrible poverty.”</p>
            <p class="author">- A. P. J. Abdul Kalam</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-12">
          <div class="find-img">
            <img src="img/find-us.jpg" alt="">
          </div>
          <div class="find-text text-center">
            <div class="spot-heading">
              <h1>Where to find us</h1>
              <h2>Locate Us.</h2>
            </div>
            <div class="find-details">
              <p> Or contact us directly:</p>
              <a class="btn btn-white" href="gallery-3columns.html">Contact Us</a>
            </div>
          </div>
          <div class="find-quote">
            <p>“Loneliness and the feeling of being unwanted is the most terrible poverty.”</p>
            <p class="author">- A. P. J. Abdul Kalam</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="no-padding no-margin">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img class="img-responsive pull-right" src="img/newsletter-girl4.jpg" alt="">
        <div class="clearfix"></div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="newsletter">
          <h1>Join Our Newsletter</h1>
          <hr>
          <p>Africa’s Summer Newsletter 2015 is now ready for you to download and read. It’s got news about our projects in Malawi and a recent visit by two of our wonderful donors.</p>
          <form action="gallery-3columns.html#">
            <input type="text" class="form-control" value="Your Email Address">
            <input class="btn btn-orange" type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="no-margin no-padding">
  <div class="twitter-feeds wow slideInDown">
    <div class="container">
      <div id="twitter-slider">
        <div class="item">
          <div class="row">
            <div class="col-md-11">
              <div class="tweet-time pull-left white">
                <i class="fa fa-twitter"></i><span>2 days ago</span>
              </div>
              <div class="twitter-tweet pull-right white">  
                <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel felis a tellus dignissim laoreet. Mauris dapibus ut elit quis pulvinar. </p>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-11">
              <div class="tweet-time pull-left white">
                <i class="fa fa-twitter"></i><span>2 days ago</span>
              </div>
              <div class="twitter-tweet pull-right white">  
                <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel felis a tellus dignissim laoreet. Mauris dapibus ut elit quis pulvinar. </p>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-11">
              <div class="tweet-time pull-left white">
                <i class="fa fa-twitter"></i><span>2 days ago</span>
              </div>
              <div class="twitter-tweet pull-right white">  
                <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel felis a tellus dignissim laoreet. Mauris dapibus ut elit quis pulvinar. </p>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}