<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ORG</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Core CSS-->
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	
	<link rel="stylesheet" href="/static/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/settings.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" href="/static/css/owl.theme.css">
	<link rel="stylesheet" href="/static/css/featherlight.css">
	<link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="/static/css/animate.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body>

    <nav id="main-nav" class="navbar navbar-fixed-top affix-top wow slideInDown">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index2.html#"><img src="/static/img/logo.png" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          	<ul class="nav navbar-nav">
            <li><a href="{{url_for('home')}}">Homepage</a></li>
            <li><a href="{{url_for('event_creation')}}">Create Event</a></li>
            <li><a href="{{url_for('registered_users')}}">Search Registered User</a></li>
            <li><a href="about.html">About Us</a></li>
            <li class="dropdown">
              <a href="index2.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="team.html">Team Page</a></li>
                <li><a href="team-detail.html">Team Details</a></li>
              </ul>
             </li>
           
            <li><a href="#contact">Contact</a></li>
            <li><a href="{{url_for('home')}}"><i class="fa fa-search fa-lg"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="slider-r">
	<div id="mainslider">
		<div class="slider">
			<div class="fullscreen-container">
				<div class="fullscreenbanner">
					<ul>
						<li data-transition="fade" data-slotamount="0"> 
							<img  alt="#" src="/static/img/slider/1.png" />
							<div class="caption sfb" 
								data-x="center" 
								data-y="center" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo">
								<div class="slider-text text-center">
									<h1 class="text-center">
										You're 
									</h1>
									<h2 class="text-center">Somebody's TYPE</h2>

									<div class="slider-btn">
										<a class="btn btn-donate" href="{{url_for('home')}}">DONATE</a>
									</div>
									
								</div>
							</div>
							<div class="caption sfb" 
								data-x="left" 
								data-y="bottom" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo" style="bottom:0; margin-bottom: 50px;">
								<div class="slider-text text-center">
									
									<div class="slider-social">
										<a href="index2.html"><i class="fa fa-facebook"></i></a>
										<a href="index2.html"><i class="fa fa-twitter"></i></a>
										<a href="index2.html"><i class="fa fa-instagram"></i></a>
									</div>
									
								</div>
							</div>
							<div class="caption sfb" 
								data-x="center" 
								data-y="bottom" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo" style="bottom:20px;">
								<div class="slider-text text-center">
									
									
									<div class="slider-scroll">
										<a href="index2.html#down">
											<img src="/static/img/scroll.png" alt="">
											<p>Scroll</p>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li data-transition="slide" data-slotamount="10"> 
							<img  alt="#" src="/static/img/slider/2.jpg"/>
							<div class="caption sfb sl2-r" 
								data-x="0" 
								data-y="center" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo">
								<div class="slider-text-1 text-center pull-left">
									<div class="slider-left">
										<h1 class="text-center">Donate Blood</h1>
										<hr class="o">
										<p class="white mt40">"Do You Feel You Don’T Have Much To Offer? You Have The Most Precious Resource Of All: The Ability To Save A Life By Donating Blood! Help Share This Invaluable Gift With Someone In Need.”</p>
										<h2 class="white text-left mt40">Let's Donate<span class="text-bold"> #Blood for Life!</span></h2>
										<p class="white mt40">
										"To The Young and Healthy
										It's No Loss .To Sick
										It's Hope Of Life"
										</p>
									</div>
									
								</div>
							</div>
							<div class="caption sfb slide-2" 
								data-x="600" 
								data-y="120" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo">
								<div class="slider-right">
									<div class="sign text-center">
										<h2>Sign Up</h2>
										<span class="droid">
											<b><font color="#FF0000">Anybody Can Give Blood...!</font></b>
										</span>
									</div>
									<form method="post" action='/sign_up'>
									<div class="fill-info">
										<input name="name" type="text" class="form-control" placeholder="Name">
										<input name="ph_no" type="text" class="form-control" placeholder="Phone Number">
										<input name="address" type="text" class="form-control" placeholder="Address" >
										<div class="choose-option">
						                    <select name="city" class="selectpicker form-control">
						                      <option>Chandigarh</option>
						                      <option>Jalandhar</option>
						                      <option>Hoshiarpur</option>
						                      <option>Phagwara</option>
						                      <option>Ludhiana</option>
						                   	</select>
						                </div>
						                <input name="dob" type="text" class="form-control" placeholder="Date of Birth">
						                <div class="choose-option">
						                    <select name="bg" class="selectpicker form-control">
						                      <option>A+</option>
						                      <option>A-</option>
						                      <option>B+</option>
						                      <option>B-</option>
						                      <option>AB+</option>
						                      <option>AB-</option>
						                      <option>O+</option>
						                      <option>O-</option>
						                   	</select>
						                </div>
						                <input name="password" type="password" class="form-control" placeholder="Password">
                        				<div class="mt20 text-center"><button type="submit" class="btn-orange">Sign Up</button></div>
                        				
									</div>
									</form>
									
								</div>
							</div>

							<div class="caption sfb" 
								data-x="left" 
								data-y="bottom" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo" style="bottom: 40px;">
								<div class="slider-text text-center" style="margin-bottom: 40px;">
									
									<div class="slider-social">
										<a href="index2.html"><i class="fa fa-facebook"></i></a>
										<a href="index2.html"><i class="fa fa-twitter"></i></a>
										<a href="index2.html"><i class="fa fa-instagram"></i></a>
									</div>
									
								</div>
							</div>
							<div class="caption sfb" 
								data-x="center" 
								data-y="bottom" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo" style="bottom: 20px;">
								<div class="slider-text text-center">
									
									
									<div class="slider-scroll">
										<a href="index2.html#down">
											<img src="/static/img/scroll.png" alt="">
											<p>Scroll</p>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li data-transition="slide" data-slotamount="10"> 
							<img  alt="#" src="/static/img/slider/3.jpg"/>
							<div class="caption sfb sl3" 
								data-x="left" 
								data-y="center" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo">
							
								<div class="slider-center">
									<div class="spon-child text-center">
										<h2>Login</h2>
										<span class="droid">
											<b><font color="#FF0000">Blood is meant to Circulate. Pass it Around...!</font></b>
										</span>
									</div>
									<div class="child-info">
										<div class="child-fill-info">
											<input type="text" class="form-control" value="" placeholder="Phone Number">
											<input type="password" class="form-control" value="" placeholder="Password">
											
							                <div class="mt30 text-center"><a href="index2.html#" class="btn-orange-ol">Login</a></div>
										</div>
										<div class="child-spon-details text-center">
											<h1>Blood Donation</h1>
											<p>An Ounce of Blood is worth more than a pound of Friendship.</p>
										</div>	
									</div>
								</div>
							</div>
							<div class="caption sfb calc-goals" 
								data-x="left" 
								data-y="center" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo">
								<div class="calc-number">
									<h5 class="text-uppercase"></h5>

									<div class="slider-text text-center" style="margin-bottom: 40px;">
									<div class="slider-social">
										<a href="index2.html"><i class="fa fa-facebook"></i></a>
										<a href="index2.html"><i class="fa fa-twitter"></i></a>
										<a href="index2.html"><i class="fa fa-instagram"></i></a>
									</div>
									
								</div>

								<!--	<div class="goal-completed text-center">
										<h5>87% <span>Completed</span></h5>
										<h5>3 <span>Days Left</span></h5>
										<h5>2980 <span>Donations</span></h5>
										<a href="index2.html#" class="btn-white">Donate</a>
									</div>	-->
								</div>	
							</div>		
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="start-helping">
<div class="container">
    <div class="row wow slideInDown">
      <div class="col-md-12">
        <h1>Donors</h1>
        <hr>
      </div>
    </div>
  </div>
  <div id="donors-list" class="wow slideInDown">
    <div class="row">
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/1.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="donors.html#" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/2.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="donors.html#" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/3.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="donors.html#" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/4.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="donors.html#" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div  class="clearfix visible-sm-block"></div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/5.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="donors.html#" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div  class="clearfix visible-md-block"></div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/6.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="donors.html#" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/7.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="donors.html#" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/8.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="donors.html#" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div  class="clearfix visible-sm-block"></div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/9.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="donors.html#" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
      <div class="col-md-15 col-sm-3 no-padding">
        <div class="donor-img">
          <img src="/static/img/donors/10.jpg" alt="">
          <div class="donor-hover text-center">
            <h2 class="white text-uppercase mb20">jenna kameron</h2>
            <a href="donors.html#" class="btn-white">See Gallery</a>
          </div>
        </div>
      </div>
    </div>
  </div>	
</section>
<section>
	<div class="numbers-saved wow slideInDown">
		<div class="container">
			<div class="row">
				<div class="col-md-3 numbers text-center">
					<h4><span class="stat-count" data-count="45">45</span>.089</h4>
					<p>People we’ve served</p>
				</div>
				<div class="col-md-3 numbers text-center">
					<h4><span class="stat-count" data-count="145">145</span></h4>
					<p>Countries we’ve worked in</p>
				</div>
				<div class="col-md-3 numbers text-center">
					<h4><span class="stat-count" data-count="100">100</span>%</h4>
					<p>Public donations going towards projects</p>
				</div>
				<div class="col-md-3 numbers text-center">
					<h4><span class="stat-count" data-count="12">12</span>.908</h4>
					<p>Public events maintained</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="gallery" class="mt160">
  <div class="container wow slideInDown">
    <div class="row">
      <div class="col-md-12">
        <h1>Gallery</h1>
        <hr>
            <div class="galley-nav mt50">
              <a href="javascript:" class="btn btn-orange filter" data-filter="all">Reset</a>
              <a href="javascript:" class="btn btn-orange filter" data-filter=".bu">Pic1</a>
              <a href="javascript:" class="btn btn-orange filter" data-filter=".mala">Pic2</a>
              <a href="javascript:" class="btn btn-orange filter" data-filter=".ni">Pic3</a>
          </div>
      
    
    <div id="g3c" class="gallery-area">
      <div id="Container">
        <!-- <div class="row">
          <div class="col-md-6"> -->
            <div class="mix bu">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-1.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">Educational toys</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="img/gallery/g3c-1.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Help pre-school children to learn how to study through play.</p>
                </div>
              </div>
            </div>
            <div class="mix mala">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-2.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">fuel-efficient cookstove</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="img/gallery/g3c-2.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Help a family cook safely and efficiently using technology nowadays.</p>
                </div>
              </div>
            </div>
            <div class="mix ni">
              <div class="gray-bg">
                <div class="g3c-img no-margin">
                  <img src="/static/img/gallery/g3c-3.jpg" alt="" class="img-responsive">
                  <div class="img-tagline no-margin text-center">
                    <h4 class="text-uppercase white">adult literacy classes</h4>
                  </div>
                  <div class="g3c-img-hover text-center">
                    <a href="gallery-3columns.html#" data-featherlight="img/gallery/g3c-3.jpg" class="btn-white">View Image</a>
                  </div>
                </div>
                <div class="img-description no-margin">
                  <p>Help 30 adult students learn to read and write in two languages.</p>
                </div>
              </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
    <div class="row">
      <div class="col-md-12 text-center mt30 wow slideInDown">
        <a href="gallery-3columns.html#" class="btn-orange-ol">Load More</a>
      </div>
    </div>
  </div>
</section>
<section>
	<div class="container wow slideInDown">
		<div class="row">
			<div class="col-md-12">
				<h1>Latest News</h1>
				<hr>
			</div>
		</div>
		<div class="blog-area">
			<div class="row">
				<div class="col-md-4 col-sm-6 blog-post">
					<h4 class="orange">Africa  /  Kids  /  Water</h4>
					<h2>Getting Ready For Getting Some Warm & Nice Water</h2>
					<div class="blog-img">
						<img class="img-responsive" src="/static/img/blog/blog1.jpg" alt="">
						<div class="blog-img-hover text-center">
							<a class="btn btn-orange" href="index2.html">Read Article</a>
						</div>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare tempor iaculis [...]</p>
					<div class="post-footer">
						<div class="post-author pull-left">
							<img src="/static/img/blog/kate.jpg" alt="">
							<span>Kate Dawson</span>
						</div>
						<div class="post-time pull-right orange">
							<i class="fa fa-clock-o"></i> <span> August 12, 2015</span>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				
				<div class="col-md-4 col-sm-6 blog-post">
					<h4 class="orange">Seeds  /  Food</h4>
					<h2>Ylang-ylang Harvest For 25 People & Their Families</h2>
					<div class="blog-img">
						<img class="img-responsive" src="/static/img/blog/blog2.jpg" alt="">
						<div class="blog-img-hover text-center">
							<a class="btn btn-orange" href="index2.html">Read Article</a>
						</div>
					</div>
					<p>Vestibulum faucibus tempor leo id viverra. Praesent cre vulputate, urna in malesuada egesta [...]</p>
					<div class="post-footer">
						<div class="post-author pull-left">
							<img src="/static/img/blog/jessica.jpg" alt="">
							<span>Jessica Moe</span>
						</div>
						<div class="post-time pull-right orange">
							<i class="fa fa-clock-o"></i> <span> August 11, 2015</span>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				
				<div class="col-md-4 col-sm-6 blog-post">
					<h4 class="orange">Women  /  Poverty</h4>
					<h2>African Women Are Also Very Kind & Beautiful</h2>
					<div class="blog-img">
						<img class="img-responsive" src="/static/img/blog/blog3.jpg" alt="">
						<div class="blog-img-hover text-center">
							<a class="btn btn-orange" href="index2.html">Read Article</a>
						</div>
					</div>
					<p>Ut dapibus imperdiet eros at molestie. Integer congue eget massa sed eleifend. Nullam semper [...]</p>
					<div class="post-footer">
						<div class="post-author pull-left">
							<img src="/static/img/blog/dana.jpg" alt="">
							<span>Dana Brown</span>
						</div>
						<div class="post-time pull-right orange">
							<i class="fa fa-clock-o"></i> <span> August 12, 2015</span>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
					
			</div>
		</div>
	</div>
</section>
<section id="contact" class="mt160">
  <div class="container">
    <div class="row wow slideInDown">
      <div class="col-md-12">
        <h1>Contact Us</h1>
        <hr>
      </div>
    </div>
    <div class="row mt30">
      <div class="col-md-9 wow fadeIn">
        <div id="map"></div>  
      </div>
      <div class="col-md-3 wow slideInDown">
        <div class="take-action no-margin">
          <h6 class="text-uppercase orange no-mt">Send a Message</h6>
          <form action="contact-us.html#">
                <div class="fl-name row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" value="First Name">
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" value="Last Name">
                  </div>
                </div>
              <input type="text" class="form-control" value="Subject">
              <textarea name="your-message" id="message" rows="10" class="form-control">Message</textarea>
              <div class="mt30">
                <a href="contact-us.html#" class="btn-orange">Submit</a>
              </div>
          </form>
        </div>
      </div>
    
  </div>
</section>


<section>
	<div class="twitter-feeds wow slideInDown">
		<div class="container">
			<div id="twitter-slider">
				
			</div>
		</div>
	</div>
</section>

<footer class="wow fadeIn">
	<div class="container ">
		<div class="row">
			<div class="col-md-3 col-sm-6 charity">
				<h2>About Charity</h2>
				<p>Nam facilisis mauris ut eros feugiat, quis mollis risus eleifend. Nunc finibus nibh accumsan, fringilla purus non, consequa lorem. Sed ullamcorper aliquam.</p>
			</div>
			<div class="col-md-3 col-sm-6 about-us">
				<h2>About Us</h2>
				<ul class="list-unstyled">
					<li><a href="index2.html">Our History</a></li>
					<li><a href="index2.html">Our Team</a></li>
					<li><a href="index2.html">Become a Volunteer</a></li>
					<li><a href="index2.html">Our Services</a></li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6 useful-links">
				<h2>Useful Links</h2>
				<ul class="list-unstyled">
					<li><a href="index2.html">Sponsor a Child</a></li>
					<li><a href="index2.html">Event Calander</a></li>
					<li><a href="index2.html">Our Donors</a></li>
					<li><a href="index2.html">Our Shop</a></li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6 contact">
				<h2>Contact Us</h2>
				<div class="contact-details">
					<span><i class="fa fa-map-marker white"></i></span>
					<p>199 Boundariesen Street Jacksonville, FL 32208</p>
					<span><i class="fa fa-phone white"></i></span>
					<p>(012) 345 - 6789</p>
					<span><small><i class="fa fa-envelope white"></i></small></span>
					<p>contact@charityattyia.com</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>With <i class="fa fa-heart orange"></i>        by Wow Themes © 2015. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</div>

<!-- Javascript -->
	<script src="/static/js/jquery.js"></script>
	
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/jquery.themepunch.revolution.js" type="text/javascript"></script> 
	<script src="/static/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
	<script src="/static/js/owl.carousel.js"></script>
	<script src="/static/js/jquery.mixitup.js"></script>
	<script src="/static/js/featherlight.js"></script>
	<script src="/static/js/isotope.pkgd.min.js"></script>
	<script src="/static/js/bootstrap-select.min.js"></script>
	<script src="/static/js/wow.js"></script>
	<script src="/static/js/custom.js"></script>
    <script src="/static/https://maps.googleapis.com/maps/api/js"></script>
    <script src="/static/js/gmap.js"></script>

	<script>
		// smooth scrool
      $(function() {
      	"use strict";
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
       });      
	</script>
</body>
</html>