{#/templates/index1.html#}

{% extends "base2.html" %}

{% block body %}

<body>

<div class="slider-r">
	<div id="mainslider">
		<div class="slider">
			<div class="fullscreen-container">
				<div class="fullscreenbanner">
					<ul>
						<li data-transition="fade" data-slotamount="0"> 
							<img  alt="#" src="/static/img/slider/1.png" />
							<div class="caption sfb" 
								data-x="center" 
								data-y="center" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo">
								<div class="slider-text text-center">
									<h1 class="text-center">
										You're 
									</h1>
									<h2 class="text-center">Somebody's TYPE</h2>

									<div class="slider-btn">
										<a class="btn btn-donate" href="{{url_for('register')}}">DONATE</a>
									</div>
									
								</div>
							</div>
						</li>
						<li data-transition="slide" data-slotamount="10"> 
							<img  alt="#" src="/static/img/slider/2.jpg"/>
							<div class="caption sfb sl2-r" 
								data-x="600" 
								data-y="120" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo">
								<div class="slider-text-1 text-center pull-left">
									<div class="slider-right">
										
										<h1 class="text-center">Donate Blood</h1>
										<hr class="o">
										<p class="white mt40">"Do You Feel You Don’T Have Much To Offer? You Have The Most Precious Resource Of All: The Ability <br/>To Save A Life By Donating Blood! Help Share This Invaluable Gift With Someone In Need.”</p>
										<h2 class="white text-left mt40">Let's Donate<span class="text-bold"> #Blood for Life!</span></h2>
										<p class="white mt40">
										"To The Young and Healthy
										It's No Loss .To Sick
										It's Hope Of Life"
										</p>
										
									</div>
									
								</div>
							</div>
							<!-- <div class="caption sfb" 
								data-x="center" 
								data-y="bottom" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo" style="bottom: 20px;">
								<div class="slider-text text-center">
									
									
									<div class="slider-scroll">
										<a href="index2.html#down">
											<img src="/static/img/scroll.png" alt="">
											<p>Scroll</p>
										</a>
									</div>
								</div>
							</div> -->
						</li>
						<li data-transition="slide" data-slotamount="10"> 
							<img  alt="#" src="/static/img/slider/3.jpg"/>
							<div class="caption sfb sl3" 
								data-x="left" 
								data-y="center" 
								data-speed="1000" 
								data-start="1000" 
								data-easing="easeOutExpo">				
							</div>		
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

</body>

{% endblock %}