{#/templates/orgsignup.html#}

{% extends "base_log.html" %}

{% block body %}


<body>
{% from "_formhelpers.html" import render_field %}

<form method=post action='/orglogin/'>
<div class="fill-info cont">



<dl>

{{render_field(form.ph_no)}}
{{render_field(form.password)}}
</dl>
<!-- <p><input type=submit value=Register></p>
-->
<div class="mt20 text-center"><button type="submit" class="btn-orange">Login</button></div>

</div>
</form>
{% if error %}
<p class="error">Error:{{ error }}</p>

{% endif %}
</div>
</div>
</body>
{% endblock %}