{#/templates/orgsignup.html#}

{% extends "base_sig.html" %}

{% block body %}


<body>
{% from "_formhelpers.html" import render_field %}

<form method=post action='/org_sign_up/'>
<div class="fill-info cont">



<dl>
{{render_field(form.org_name)}}
{{render_field(form.org_type)}}
{{render_field(form.address)}}
{{render_field(form.city)}}
{{render_field(form.ph_no)}}
{{render_field(form.password)}}
{{render_field(form.c_password)}}
</dl>
<!-- <p><input type=submit value=Register></p>
-->
<div class="mt20 text-center"><button type="submit" class="btn-orange">Sign Up</button></div>

</div>
</form>
{% if error %}
<p class="error">Error:{{ error }}</p>

{% endif %}
</div>
</div>
</body>
{% endblock %}