<html>
<head><title>my app</title></head>
<body>
<!-- <form method="post">
	<div>
		<label for="name">Nmae: </label>
		<input type="text" name="name" />
	</div>
	<div>
		<button type="submit">Submit name</button>
	</div>
	</form>
 -->
	<div class="container">
		 <h1/><strong> Registered Users</strong></h1>
		 {% for i in myUser %}
		 <ul>
		 <p>name: blood group: password</p>
		 <li>{{ i.name }}: {{ i.ph_no }}</li>
		 </ul>
		 {% endfor %}
	</div>
</body>
</html>
