{#/templates/register.html#}

{% extends "base.html" %}

{% block body %}


<body>
{% from "_formhelpers.html" import render_field %}

<form method=post action='/register/'>
	<div class="fill-info cont">


		<dl>
		{{render_field(form.name)}}
		{{render_field(form.ph_no)}}
		{{render_field(form.address)}}
		{{render_field(form.city)}}
		{{render_field(form.dob)}}
		{{render_field(form.blood_group)}}
		</dl>
		<!-- <p><input type=submit value=Register></p> -->
<div class="mt20 text-center"><button type="submit" class="btn-orange">Sign Up</button></div>
	</div>
</form>
{% if error %}
<p class="error">Error:{{ error }}</p>

{% endif %}
</div>
</body>
{% endblock %}