{#/templates/register.html#}

{% extends "base.html" %}

{% block body %}


<body>
{% from "_formhelpers.html" import render_field %}

<form method=post action='/search_registered_users/'>
	<div class="fill-info cont">


		<dl>
		{{render_field(form.ph_no)}}
		</dl>
		<!-- <p><input type=submit value=Register></p> -->
<div class="mt20 text-center"><button type="submit" class="btn-orange">Sign Up</button></div>
	</div>
</form>

<div class="cont">
{% for i in value %}
<ul>
<li>Name: {{i.name}}</li>
<li>Blood Group: {{i.blood_group}}</li>
</ul>
{% endfor %}
</div>

{% if error %}
<p class="error">Error:{{ error }}</p>

{% endif %}
</div>
</body>
{% endblock %}